doctype
html
	head
		title #{title}
		link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		.container
			// Static navbar
			nav.navbar.navbar-default
				.container-fluid
					.navbar-header
						a.navbar-brand(href='/' rel="home" style="padding: 5%; width: 150px; height: 50px;")
							img.nav-logo(src="/images/coffee_icon.png")
					// /.nav-collapse
				// /.container-fluid
			if(error)
				p #{error}
			block content
	// Placed at the end of the document so the pages load faster
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
	
	script(src='/bootstrap/js/bootstrap.min.js')
	// IE10 viewport hack for Surface/desktop Windows 8 bug
// /container
